.avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #e2cbcb;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }